body {
	font-family: sans-serif;
	font-size: 0.9em;
}

label {
	display: block;
	padding-top: 2px;
}
label + input {
	margin-top: 1px;
}

form div {
	margin-bottom: 8px;
}

#header a,
#header a:hover,
#header a:visited,
#header a.active,
#footer a,
#footer a:hover,
#footer a:visited,
#footer a.active {
	text-decoration: none;
}

#logo {
	font-weight: bold;
	font-size: 1.5rem;
}

a strong {
	font-weight: bold;
}

@media (min-width: 768px) {
	nav ul li::after {
		content: "•";
		margin-left: var(--navListGap);
	}

	nav ul li:last-child::after {
		content: "";
	}
}

body {
	color: #222831;
}

#header {
	margin-bottom: 1em;
}
#header,
#footer {
	background-color: #222831;
}

#header button {
	margin: 0;
	border: 1px solid #dfd0b8;
}

#footer {
	margin-top: 1.5em;
	padding: 1em 0;
}

#navToggle,
#header,
#header a,
#footer,
#footer a {
	color: #dfd0b8;
}

.nav-toggle:hover {
	opacity: 0.8;
	background: #11141a !important;
}

@media (max-width: 768px) {
	#navigation ul li a {
		border-bottom: 1px solid #dfd0b8;
		padding: 0.5em 1.4em;
		display: block;
		line-height: 2;
		background: #11141a;
		text-transform: uppercase;
		font-size: 0.9em;
	}

	#navigation ul li a:hover {
		background: #000000;
	}
}
